@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}

header a {
  margin: 1rem;
  text-decoration: none;
}

header {
  display: flex;
  padding: 1.1rem;
  font-size: small;
  align-items: center;
  justify-content: space-between;
  height: 11vh;
}

main {
  width: 100%;
}

.header-icon {
  width: 4rem;
  display: flex;
}

.hallmark {
  /* width: 4rem; */
  display: flex;
  align-items: center;
}

.hallmark a {
  font-size: large;
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.for-free {
  font-size: 1.3rem;
  font-weight: 700;
  color: #0f03b3;
}

.register {
  font-size: large;
  font-weight: 600;
  color: black;
}

.hallmark h3 {
  display: none;
}

.faster {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background: url(../image/L12_Tour_Header_DESKTOP-2\ bcd.avif); */
  background: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem 0rem 0rem 0rem;
  width: 100%;
  height: 230vh;
  color: white;

  font-size: 1.5rem;
  margin-bottom: 7rem;
}

.faster a {
  color: white;
  background: #0f03b3;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-weight: bolder;
}

.faster h1 {
  color: white;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 5rem;
}

.move_image {
  width: 85%;
  height: 110vh;
  margin: auto;
  margin-top: 7rem;
}

.move_image_girl {
  width: 85%;
  height: 110vh;
  margin: auto;
  margin-top: 7rem;
}

img {
  width: 100%;
  height: 100%;
}

.instincts {
  margin: 0rem 4rem;
  height: 60vh;
}

.instincts h2 {
  font-size: 3rem;
}

.instincts p {
  font-size: 1.3rem;
  padding: 7rem 40rem 0rem 0rem;
}

.instincts_black {
  color: white;
  margin: 0rem 4rem;
  height: 60vh;
}

.instincts_black h2 {
  font-size: 3rem;
}

.instincts_black p {
  font-size: 1.3rem;
  padding: 7rem 40rem 0rem 0rem;
}

.instincts_black a {
  padding: 5rem 0rem 0rem 0rem;
}

.standalone {
  display: flex;
  margin: 1rem 0rem;
  width: 100%;
  height: 80vh;
}

.standalone__other {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem 0rem;
  width: 100%;
  height: 80vh;
}

.standalone-image {
  width: 60%;
}

.standalone-pp {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  justify-content: center;
  width: 40%;
}

.standalone-pp p {
  margin-top: 3rem;
  font-size: 1.3rem;
}

.learn {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  padding: 7rem 0rem 15rem 0rem;
}

.overthink {
  background: #00ffaf;
  padding-top: 10rem;
  margin-bottom: 5rem;
}

.pitches {
  display: flex;
  width: 80%;
  height: 50vh;
  margin: auto;
}

.pitches__img {
  width: 50%;
}

.pitches__pp {
  width: 50%;
  padding: 4rem 1rem 0rem 1rem;
}

.pitches__pp p {
  font-size: 1.3rem;
  padding: 2rem 0rem;
}

.selections {
  background: black;
  padding: 10rem 0rem;
  color: white;
}

.some-color {
  display: flex;
  width: 90%;
  margin: 0rem 4rem;
  height: 80vh;
}

.some-color_img {
  width: 60%;
}

.some-color_pp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 40%;
}

.explore {
  margin: auto;
  width: 90%;
  height: 70vh;
}

.explore h2 {
  font-size: 3.5rem;
  padding: 3rem 0rem 0rem 0rem;
}

.explore p {
  font-size: 1.3rem;
  padding: 3rem 40rem 0rem 0rem;
}

.magazines {
  width: 100%;
  background: #cdbefd;
}

.magazines_first_dv {
  display: flex;
  padding: 3rem 0rem;
  width: 100%;
  height: 100vh;
}

.magazines_pp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 42%;
  padding: 7rem;
}

.magazines_pp h2 {
  padding: 0.5rem 0rem;
  font-weight: 500;
  font-size: 2rem;
}

.magazines_img {
  width: 58%;
}

.ul__list li {
  margin: 0.6rem;
}

.includes {
  display: flex;
  margin-left: 6rem;
  width: 90%;
  height: 95vh;
}

.includes_img {
  width: 50%;
}

.includes_pp {
  padding: 7rem 3rem;
  width: 50%;
}

.includes_pp h2 {
  padding: 0rem 0rem;
  font-size: 2rem;
  font-weight: 400;
}

.includes_pp a {
  color: blue;
  text-decoration: none;
}

.includes_pp p {
  font-size: 1.2rem;
  margin: 1rem 0rem;
}

.Intro {
  padding: 0rem 1rem 2rem 0rem;
}

@media (max-width: 1270px) {
  .live a {
    font-size: small;
    text-decoration: none;
    font-weight: 600;
    color: black;
  }

  .menu_header__2 a {
    font-size: small;
  }

  .faster {
    height: 170vh;
    color: white;

    font-size: 1.5rem;
  }

  .move_image {
    width: 85%;
    height: 80vh;
  }

  .move_image_girl {
    width: 85%;
    height: 70vh;
  }

  .instincts_black p {
    padding: 7rem 4rem 0rem 0rem;
  }

  .instincts p {
    font-size: 1.3rem;
    padding: 7rem 4rem 0rem 0rem;
  }
}

@media (max-width: 1020px) {
  .instincts {
    height: 20vh;
  }

  .instincts h2 {
    font-size: 2rem;
  }

  .instincts p {
    font-size: 1.3rem;
    padding: 1rem 4rem 0rem 0rem;
  }

  .faster {
    height: 170vh;
    color: white;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .standalone {
    display: flex;
    flex-direction: column;
    height: 110vh;
  }

  .standalone__other {
    flex-direction: column;
    margin: 1rem 0rem;
    width: 100%;
    height: 110vh;
  }

  .standalone-image {
    width: 100%;
  }

  .standalone-pp {
    flex-direction: column;
    padding: 2rem 2rem;
    width: 100%;
  }

  .standalone-pp p {
    margin-top: 2rem;
    font-size: 1.3rem;
  }

  .pitches {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95vh;
    margin: 0;
  }

  .pitches__img {
    width: 100%;
  }

  .pitches__pp {
    width: 100%;
    padding: 4rem 1rem 0rem 1rem;
  }

  .pitches__pp p {
    font-size: 1.3rem;
    padding: 2rem 0rem;
  }

  .learn {
    padding: 5rem 0rem 5rem 0rem;
  }

  .some-color {
    flex-direction: column;
    width: 100%;
    margin: 0rem 0rem;
    height: 90vh;
  }

  .some-color_img {
    width: 100%;
    height: 70vh;
  }

  .some-color_pp {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  .some-color_pp a {
    padding: 2rem 0rem;
  }

  .some-color_pp p {
    padding: 2rem 0rem;
  }

  .instincts_black {
    height: 40vh;
  }

  .instincts_black h2 {
    font-size: 3rem;
  }

  .instincts_black p {
    padding: 5rem 0rem 0rem 0rem;
  }

  .instincts_black a {
    padding: 5rem 0rem 0rem 0rem;
  }

  .explore {
    height: 50vh;
  }

  .explore h2 {
    font-size: 2.5rem;
    padding: 3rem 0rem 0rem 0rem;
  }

  .explore p {
    font-size: 1.3rem;
    padding: 3rem 0rem 0rem 0rem;
  }

  .magazines_first_dv {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }

  .magazines_pp {
    width: 100%;
    padding: 7rem;
  }

  .magazines_img {
    width: 100%;
  }

  .includes {
    display: flex;
    flex-direction: column;
    border: 2px solid violet;
    margin-left: 0rem;
    width: 90%;
    height: 175vh;
  }

  .includes_img {
    width: 100%;
    border: 4px solid gold;
  }

  .includes_pp {
    padding: 5rem 3rem;
    width: 100%;
    border: 4px solid gold;
  }

  .menu_header__2 a {
    font-size: small;
    display: none;
  }
}

@media (max-width: 720px) {
  .hallmark a {
    font-size: 0.6rem;
    font-weight: 700;
    margin: 0rem 0.1rem;
  }

  .faster {
    padding: 10rem 0rem 0rem 0rem;
    height: 150vh;
    font-size: 1.5rem;
    margin-bottom: 7rem;
  }

  .faster p {
    margin: 0.5rem 0rem;
  }

  .move_image {
    height: 70vh;
  }

  .move_image_girl {
    width: 100%;
    height: 50vh;
    margin: 0%;
  }

  .instincts_black {
    height: 40vh;
    margin: 1rem 2rem;
    width: 90%;
  }

  .instincts {
    margin: 0rem 2rem;
    height: 30vh;
  }

  .instincts h2 {
    font-size: 1.7rem;
  }

  .instincts p {
    font-size: 1.3rem;
    padding: 3rem 0rem 0rem 0rem;
  }

  .pitches {
    width: 90%;
    height: 60vh;
    margin: 0;
  }

  .standalone {
    display: flex;
    flex-direction: column;
    height: 60vh;
  }

  .standalone__other {
    flex-direction: column;
    margin: 1rem 0rem;
    width: 100%;
    height: 60vh;
  }

  .includes {
    height: 95vh;
  }
}
